<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MuStudio Desing</title>
    <link rel="icon" href="/images/MUchiquito2.png" type="image/png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/portfolio.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <%- include("partials/header") %>
    <%- include("partials/home") %>
    <%- include("partials/about") %>
    <%- include("partials/portfolio") %>
    <%- include("partials/contact") %>
    
<button id="volver-inicio" onclick="volverAlInicio()"><ion-icon name="chevron-up-outline"></ion-icon></button>

<%- include("partials/footer") %>

<script src="/scripts/parallax.js"></script>
<script src="/scripts/tarjetas.js"></script>
<script src="/scripts/trabajos.js"></script>

</body>

</html>